.container {
  margin:0 auto;
  width:100%;

  @each $classname, $padding in $containerPadding {
    padding:$padding;

    @if $classname == full {

    } @else {
      @include breakpoint(#{$classname}) {
        padding:$padding;
      }
    }

  }

  @each $classname, $width in $containers {
    &--#{$classname} {
      max-width:$width;
    }
  }

}
