* {
  box-sizing:border-box;
}

body {
  min-width:320px;
  overflow-x:hidden;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  font-family:$primaryfont;
  color:$primarycolor;
  letter-spacing:-0.01em;
}

a {
  color:inherit;
  text-decoration:none;
}

ul, ol {
  margin:0;
  padding:0;
}

ul {
  list-style:none;
}

h1, h2, h3, h4, h5, h6, p {
  margin:0;
}

fieldset {
  padding:0;
  border:0;
  margin:0;
}

input, textarea, button {
  outline:0;
}
