@each $space in $spaceamounts {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}--#{$space} {
      margin-#{$side}: #{$space}px;

      @include breakpoint(m) {
        margin-#{$side}: #{$space/1.5}px;
      }
    }
  }
}
