svg {
  display:inline-block;
}

.icon {

  &--email {
    width:28px;
    height:22px;
  }

  &--phone {
    width:23px;
    height:23px;
  }

  &--arrow {
    width:16px;
    height:40px;
  }

  &--arrow-down {
    width:24px;
    height:8px;
  }

  &--close {
    width:16px;
    height:24px;
  }

}
