.siteHeader {

  &__navItem {
    margin: 0 20px;
  }

  &__navLink {
    color: #228be6;
  }

  &__logo {
    margin-right: 40px;
  }

  &__adminItem {
    margin-left: 20px;

    &:first-child {
      margin: 0;
    }
  }

  .fas {
    margin-right: 10px;
  }

}

.siteContent {
  max-width: 1260px;
  margin: 0 auto;
  width: 100%;
  padding: 50px 30px;

  h1 {
    margin: 50px 0 25px;
  }

  h2, h3, h4, h5 {
    margin: 15px 0;
  }

  h1 {@include font-size(34px);}
  h2 {@include font-size(30px);}
  h3 {@include font-size(26px);}
  h4 {@include font-size(22px);}

  p {
    margin: 15px 0;
    line-height: 1.6em;
  }

  li {
    margin: 10px 0;
  }

  .fas {
    margin-right: 10px;
  }

  a {
    display: inline-block;
    margin: 10px 0;
    color: #228be6;
  }

  img {
    width: 100%;
  }

  select {
    margin-right: 20px;
  }

  .button {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 15px 20px;
    border: 1px solid black;
  }

  .activeComps__heading,
  .allComps__heading,
  .winners__storiesHeading {
    margin: 75px 0 50px;
  }

  .activeComps__content,
  .fullComp__content,
  .stories__content,
  .stories__storyContent,
  .about__content {
    width: 50%;
    padding: 50px;
  }

  .fullComp__terms {
    display: block;
  }

  .fullComp__next {
    display: block;
    border: 1px solid gray;
    padding: 30px;
    text-align: center;
    margin: 50px 0;
  }

  .fullComp__image,
  .activeComps__carousel,
  .featuredComp__content {
    width: 50%;
  }

  .featuredComp,
  .winners__hero {
    min-height: calc(100vh - 300px);
    background: #F0F0F0 url('/assets/images/placeholder.jpg') center;
    background-repeat: no-repeat;
    padding: 50px;
  }

  .featuredComp__info {
    margin: 50px 0 0 100px;
  }

  .winners__content {
    max-width: 600px;
  }

  .allComps__item,
  .howToWin__item,
  .winners__storiesItem {
    width: calc(33.33% - 20px);
  }

  .howToWin__header,
  .faqs__header,
  .forgotten__header {
    max-width: 600px;
    margin: 0 auto 50px;
    text-align: center;
  }

  .stories__video,
  .stories__image,
  .about__image,
  .contact__form {
    width: 50%;
  }

  .about__heading {
    margin: 50px 0 75px;
  }

  .terms {
    margin: 0 auto;
    max-width: 600px;
  }

  .login__signIn,
  .login__signUp {
    width: 45%;
  }

  input {
    padding: 5px;
    margin: 10px 0;
  }

  .login__form,
  .dashboard__form {
    display: flex;
    flex-direction: column;
  }

  .dashboard__form {
    width: 45%;
  }

  label {
    display: block;
    margin: 10px 0 5px;
  }

  input {
    width: 100%;
  }

  .login__seperator {
    line-height: 300px;
  }

  .dashboard__navItem {
    display: inline-block;
  }

  .dashboard__navLink {
    display: inline-block;
    padding: 20px 0;
    background: lightgray;
    width: 300px;
    text-align: center;

    &.active {
      color: #fff;
      background: #228be6;
    }
  }

  .dashboard__initials {
    width: 100px;
  }

  .dashboard__nav {
    margin: 0 0 75px;
  }

  .dashboard__table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }

  th, td {
    padding: 10px;
    border: 1px solid lightgrey;
  }

  .faqs__accordionTitle {
    padding: 20px;
    background: grey;
  }

  .faqs__subAccordionTitle {
    padding: 20px;
    background: lightgrey;
  }

  .faqs__subAccordion {
    padding: 0 40px;
  }

  .contact__address {
    max-width: 230px;
    margin-left: 100px;
  }

}
