// breakpoints
@mixin breakpoint($name) {

  @if map-has-key($breakpoints, $name) {
    @media (#{$breakpoint-mode}-width: #{inspect(map-get($breakpoints, $name))}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
//--------------------------------------------------//


// font size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size:$size;
  font-size:calculateRem($size);
}
//--------------------------------------------------//


// placeholders
@mixin placeholder {
  &::-webkit-input-placeholder {@content};
  &:-moz-placeholder           {@content};
  &::-moz-placeholder          {@content};
  &:-ms-input-placeholder      {@content};
}
//--------------------------------------------------//


// ratio
@mixin ratio($ratio: 1 1, $selector: "> :first-child") {
	$selector: unquote($selector);

  height:0;
	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position:relative;

	#{$selector} {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
	}
}

//--------------------------------------------------//


// retina
@mixin img-2x($image) {
  @media (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    background-image:url($image);
  }
}
//--------------------------------------------------//


// quantity
@mixin quantity-query( $number, $comparison: 'equal' ) {
  $nth: '';

  @if index( ('greater' 'more' '>'), $comparison ) {
    $nth: 'n + #{$number}';
  } @else if index( ('less' 'fewer' '<'), $comparison ) {
    $nth: '-n + #{$number}';
  } @else if index( ('equal' 'same' '='), $comparison ) {
    $nth: $number;
  } @else {
    @warn "Invalid $comparison value.";
  }

  &:nth-last-child(#{$nth}):first-child {
    &,
    & ~ * {
      @content;
    }
  }
}

@mixin qq-equal( $number ) {
  @include quantity-query( $number, equal ) {
    @content;
  }
}

@mixin qq-greater( $number ) {
  @include quantity-query( $number, greater ) {
    @content;
  }
}

@mixin qq-less( $number ) {
  @include quantity-query( $number, less ) {
    @content;
  }
}
//--------------------------------------------------//


// hardware acceleration
@mixin hardware($backface: true, $perspective: 1000) {
  @if $backface {
    backface-visibility:hidden;
  }
  perspective:$perspective;
}
//--------------------------------------------------//


// css inview
@mixin inview-fadein {
  &:not(.window-start) {

    &.not-inview {
      opacity:0;
      transition:opacity .3s ease;
    }

    &.is-inview {
      opacity:1;
      transition:opacity .3s ease;
    }

  }
}

@mixin inview-fadein-up {
  &:not(.window-start) {

    &.not-inview {
      transform:translateY(60px);
      transform-origin:top right;
      opacity:0;
      transition:transform .5s ease,
                 opacity .5s ease;
    }

    &.is-inview {
      transform:translateY(0);
      opacity:1;
      transition:transform .5s ease,
                 opacity .5s ease;
    }

  }
}
