// default colors
$black: #262626;
$grey: #8a8c92;

$bgblue: #f9fbfe;
$lightblue: #62b3e8;
$blue: #2c95e3;
$darkblue: #2b64aa;

$darkbgblue: #191f29;

$lightred: #e25657;
$red: #ff4d4f;
$darkred: #c83d3e;

$primarycolor: $black;

// breakpoint mixin default variables
$breakpoint-mode: 'max';
$breakpoints: (
  ssl:  1600px,
  sl:   1500px,
  xxxl: 1400px,
  xxl:  1200px,
  xl:   1080px,
  l:    960px,
  m:    750px,
  s:    600px,
  xs:   500px,
  xxs:  400px,
  t:    350px
);

// container classes default variables
$containerPadding: (
  full: 0 56px,
  xxl:  0 40px,
  l:    0 32px
);

$containers: (
  large: 1352px,
  medium: 1160px
);

// fonts
$montserrat: 'Montserrat', sans-serif;
$primaryfont: $montserrat;

$fontfamilies: (
  'montserrat': $montserrat
);

$fontcolors: (
  'white': #fff,
  'black': $black,
  'grey':  $grey,
  'blue':  $blue
);

$fontsizes: (14, 15, 16, 18, 20, 22, 24, 28, 32, 36, 48, 64);
$fontweights: (300, 400, 500, 600, 700);
$lineheights: (120, 140, 180);

$letterspacing: (
  t100: -0.1,
  t25:  -0.025,
  t10:  -0.01
);


// margin variables
$spaceamounts: (40, 60, 80, 100, 120, 140, 160);
$sides: (top, bottom);
